body {
  font-family: 'Inter', sans-serif;
}

.group:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}

table th, table td {
  text-align: center;
}

.modal-scroll::-webkit-scrollbar {
  width: 6px;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
