.page-wrapper {
  padding: 40px 20px;
  margin-top: 60px; /* navbar se door karne ke liye */
}

.page-wrapper h3 {
  font-size: 28px;
  margin-bottom: 2px;
  color: #f8c706;
  text-align: center;
  text-shadow: 1px 1px 2px #6b0404;
}

/* Main Grid */
.check-progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  padding: 100px;
}

/* Card */
.progress-item {
  background: linear-gradient(135deg, #ea360e, #06080b);
  border-radius: 14px;
  padding: 25px;
  width: 100%;
  height: 150px;
  border: 1px solid #e70b46;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  cursor: pointer;
}

/* Hover Effect */
.progress-item:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #f0f6ff, #ffffff);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
  border-color: #d2ddff;
}

/* Heading */
.progress-item h3 {
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: 600;
  color: #242716;
  text-align: left;
}

/* Subtitle */
.progress-item p {
  margin: 0;
  font-size: 15px;
  color: #f8db04;
}
